<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define the beans with constructor-based injection -->
    <bean id="employee" class="com.example.cons.Employee">
        <constructor-arg value="spring-boot" />
    </bean>

    <bean id="technology" class="com.example.cons.Technology">
        <constructor-arg ref="employee" />
    </bean>
</beans>

